/* HEADER */
h1#intro {
    padding-top: 1em;
    padding-left: 1em;
}
h1#intro a{
    color: black;
    text-decoration: none;
}


/* HEADER AND TOP MENU LINE DIVIDER */
hr {
    margin: 0px;
}


/* TOP MENU */
.navbar-light {
    height: 50px;
    padding: 0px;
    margin-top: 0.5em;
}

.nav-item {
    text-align: left;
    background-color: white;
    background-position: bottom left; /*Adjust the background-position to move the line*/
    background-size: 100% 2px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 0; /* this can also control the position */
    background-image: linear-gradient(rgba(227,228,228,0), rgba(227,228,228,0));
}

.nav-item:hover { /* underline on hover mouse hover */
    background-image: linear-gradient(rgba(227,228,228,1), rgba(227,228,228,1));
}

.navbar-light img {
    padding: 0px;
}

.active-menu-page {
    font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/cherry-blossom-icon.png");
}

.navbar-toggler {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-light .navbar-toggler {
    color: rgba(227,228,228,255);
}

@media (max-width: 767px){
    .nav-item {
        background-size: 10% 2px;
    }
}

@media (max-width: 491px){
    .nav-item {
        background-size: 20% 2px;
    }
}