/********* GENERAL ***********/
p a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: mediumseagreen;
}

a:active{
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}


/*********** ABOUT ME PAGE **********/
#index section#about-me img{
    padding: 5%;
    padding-top: 12%
}

#index section#about-me #about-text{
    padding: 5%;
}

/******** CV PAGE *********/
/*#cv section#section1{text-align: center;padding-top: 10%;}*/
#cv section ul{
    /*margin: 2%;*/

}

/******** PROJECTS PAGE  ********/
#projects section#section1{
    text-align: center;
    padding-top: 10%;
}

/******** CONTACT PAGE  *********/
#contact section#email{
    text-align: center;
    padding-top: 10%;
}

#contact section#email p{
    padding-top: 2%;
}


#contact section#email img{
    width: 157px;
    height: 100px;
}

@media (max-width: 767px){
    #contact section#email img{
        width: 100px;
        height: 67px;
    }
}